<div class="container">
  <button class="btn" (click)="onBack()">back</button>
  <label style="text-align: center;"><h3><b>Hasil</b></h3></label>
    <table>
        <tr>
            <td></td>
            <td colspan="2"></td>
            <td></td>
          </tr>
          <tr>
            <td rowspan="3"></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td colspan="3"></td>
          </tr>
    </table>
</div>